ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 25rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.7rem;
  color: white;
}

li a:hover {
  opacity: 0.9;
  transform: scale(0.97);
  cursor: pointer;
  border: 1px solid #9818ee;
  color: #9818ee;
  font-weight: bold;
}

li a img {
  object-fit: cover;
  height: 14rem;
}

.content {
  margin-top: 0.5rem;
  padding: 0.8rem 1.3rem;
  position: relative;
  height: 9rem;
}

.fav {
  position: absolute;
  top: 0.8rem;
  right: 1.2rem;
  font-size: 1.5rem;
  color: red;
}

.fav.not {
  color: grey;
}

.stars {
  margin-bottom: 0.5rem;
}

.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins {
  flex: 9;
}
.origins span {
  border-radius: 3rem;
  display: inline-block;
  color: aquamarine;
  padding: 0 0.5rem;
}

.cookTime {
  flex: 3;
  font-size: 1rem;
  text-align: right;
}

.price {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: rgb(94, 94, 244);
  padding: 0.5rem 100% 0 0;
  margin-top: 0.9rem;
  font-size: 1.2rem;
}
