ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  height: 25rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1.6rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: skyblue;
}

li a:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}

li a img {
  object-fit: cover;
  height: 15rem;
}

.content {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.name {
  font-family: "Concert One", cursive;
  font-size: 1.2rem;
}

.favorite {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  font-size: 1.8rem;
  color: red;
}

.favorite.not {
  color: gray;
}

.stars {
  margin-bottom: 0.4rem;
}

.cooktime {
  text-align: right;
  color: rgb(131, 119, 119);
}

.price {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  padding: 0.6rem 100% 0 0;
  color: rgb(255, 94, 94);
  margin-top: 1rem;
}
