.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem;
}

.container > * {
  min-width: 40rem;
  max-width: 70rem;
}

img {
  border: 1px solid gray;
  border-radius: 5rem;
  flex: 1 0;
  object-fit: cover;
  height: 60rem;
  margin: 1rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 3rem;
  color: lightblue;
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 3rem;
  font-family: "Concert One", cursive;
  color: darkcyan;
  font-weight: 800;
}

.favorite {
  color: red;
  font-size: 3.5rem;
}

.favorite.not {
  color: gray;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags a {
  color: skyblue;
  font-size: 1.6rem;
  padding: 0.3rem 1rem 0.3rem 0;
  margin: 1rem 0.1rem 1rem 0;
  background: black;
  border-radius: 10rem;
  font-family: "Concert One", cursive;
  cursor: pointer;
}

.cooktime {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.6rem;
  margin: 2rem 2rem 2rem 0;
  color: green;
}

.price::before {
  content: "Price: ";
  color: darkgrey;
}

button {
  color: white;
  background: #e72929;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}
