header {
  position: relative;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 62%,
    rgba(4, 106, 126, 1) 100%
  );
  padding: 0;
  font-size: 1.4rem;
}

a {
  color: white;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
  color: aqua;
  cursor: pointer;
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  font-family: "Concert One", cursive;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  display: inline-block;
  padding: 1rem;
}

a span {
  background: #e72929;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
}

.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1;
  display: none;
  background: black;
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 13rem;
}
