<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="../../../../assets/logo/burger.png" alt="logo" />
      <span>BurgerNest</span>
    </a>

    <nav>
      <ul>
        <li>
          <a routerLink="/login">SignIn</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Kabir</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>SignOut</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart
            <span *ngIf="cartQuantity" class="cart">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
