<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="/assets/logo/burger-64.png" alt="logo" />
      <span>BurgerNest</span>
    </a>

    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Sign-in</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">
            {{ user.name }}
          </a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="signOut()">Sign-out</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart
            <span *ngIf="cartQunatity" class="cart">
              {{ cartQunatity }}
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
