header {
  position: relative;
  background: black;
  padding: 0;
  border-bottom: 1px solid red;
}

a {
  color: rgb(2, 226, 32);
}

a:hover {
  cursor: pointer;
  color: tomato;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-family: "Bauhaus 93 V2";
  padding: 1rem;
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}

a span {
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.menu-container {
  position: relative;
}

.menu-container .menu {
  position: absolute;
  z-index: 1;
  background: whitesmoke;
  display: none;
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  background: black;
  width: 100%;
  min-width: 8rem;
}
