header {
  position: relative;
  padding: 0;
}

a {
  color: #9818ee;
  font-size: 1.6rem;
  font-weight: bold;
}

a:hover {
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

a.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1.6rem;
  display: inline-block;
}

.cart {
  background: rgb(251, 67, 34);
  color: white;
  padding: 0.16rem 0.72rem;
  border-radius: 100%;
  font-size: 1.4rem;
}

.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1;
  display: none;
  background: rgb(23, 23, 23);
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 15rem;
}
