<header>
  <div class="container">
    <a routerLink="/home" class="logo">FoodNest</a>

    <nav>
      <ul>
        <li>
          <a routerLink="/login">
            <img src="assets/icons/login.png" alt="" />
            <br />
            Sign-in
          </a>
        </li>
        <li class="menu">
          <a routerLink="" class="/dashboard">
            <img src="assets/icons/user.png" alt="" />
            <br />
            Hossain</a
          >
          <div class="menu-items">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Sign-out</a>
          </div>
        </li>
        <li class="cart-page">
          <a routerLink="/cart-page">
            <img src="assets/icons/cart.png" alt="" />
            <br />
            Cart <span>0</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
