.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 4rem;
}

.details {
  width: 33rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
