.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
  border: 1px solid white;
  padding: 2rem;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-title {
  text-align: center;
}
