.container {
  position: relative;
  margin-bottom: 0.5rem;
  border-radius: 0.7rem;
  padding-top: 0.3rem;
  border: 0.8px solid #242323;
}

label {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.4rem;
  color: lightblue;
}

.content {
  padding: 0 0.5rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
}
