div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  color: #df0e61;
  padding: 0.7rem 1rem;
  margin: 0.4rem 0.3rem;
  border-radius: 1rem;
  font-weight: 600;
}

div a.active {
  color: white;
  background: rgb(0, 0, 0);
}
