.tag-carousel {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.tag-item {
  color: skyblue;
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
  margin: 1rem 0.1rem;
  background: black;
  border-radius: 10rem;
  font-family: "Concert One", cursive;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.active {
  background: white;
  color: black;
}

.slick-prev::before,
.slick-next::before {
  font-size: 24px;
  color: rgb(159, 17, 159);
}

.normalTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.normalTags a {
  color: skyblue;
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
  margin: 1rem 0.1rem;
  background: black;
  border-radius: 10rem;
  font-family: "Concert One", cursive;
  cursor: pointer;
}
