<div *ngIf="useCarousel; else normalTags">
  <div class="tag-carousel">
    <ngx-slick-carousel
      class="tag-container"
      #slickModel="slick-carousel"
      [config]="slickCarouselConfig"
    >
      <div
        ngxSlickItem
        *ngFor="let tag of tags"
        class="tag-item"
        routerLink="/tag/{{ tag.name }}"
        routerLinkActive="active"
      >
        {{ tag.name }} ({{ tag.count }})
      </div>
    </ngx-slick-carousel>
  </div>
</div>

<ng-template #normalTags>
  <div *ngIf="tags" class="normalTags">
    <a
      *ngFor="let tag of tags"
      routerLink="/tag/{{ tag.name }}"
      routerLinkActive="active"
    >
      {{ tag.name }}({{ tag.count }})
    </a>
  </div>
</ng-template>
