.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 62%,
    rgba(4, 106, 126, 1) 100%
  );
  min-height: 90vh;
}

.details {
  width: 30rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
